doctype html
head
  script(src='app.js')
h1 CSV REPORT GENERATOR
p(style='white-space:pre') #{csv}
br
form(method='POST' enctype='multipart/form-data')
  label ENTER JSON
  br
  input(name='file' id='file' type='file' accept='.json')
  br
  input(type='submit' value='SUBMIT')